.navbar-container{
    height: 10rem;
    display: flex;
    background-color: rgb(236, 236, 236);
    justify-content: space-between;
    align-items: center;
    padding: 0rem 8.5rem 0rem 6.5rem;
}

.brand-name{
    font-size: 2.5rem;
    font-family: Andale Mono, monospace;
}

.brand-name-green{
    color: rgb(16, 185, 129);
}

.brand-name-black{
    color: black;
}

.buttons{
    display: flex;
    gap:2rem;
}

.brand-name-buttons{ 
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    border-radius: 12px;
    font-size: 1.5rem;
    font-family: Andale Mono, monospace;
}

.brand-name-buttons:hover{
    background-color: rgb(198, 198, 198);
    cursor: pointer;
}